body {
  margin: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font: 300 16px helvetica;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

@property --P {
  syntax: "<length> | <percentage>";
  inherits: false;
  initial-value: 0px;
}

@property --M {
  syntax: "<length> | <percentage>";
  inherits: false;
  initial-value: 0px;
}

a,
a:visited,
a:hover {
  color: inherit;
  text-decoration: none;
}

svg {
  stroke: currentcolor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1;
}


img {
  object-fit: cover;
}

*::-webkit-scrollbar {
  display: none;
}

input,
button,
textarea {
  position: relative;
  border: 0;
  outline: 0;
  margin: 0;
  background: transparent;
  font-size: 1em;
}

input:focus,
button:focus,
textarea:focus {
  outline: none;
}

.blur {
  --bg: #222 8;
  --sz: 32px;
  background: var(--bg);
  backdrop-filter: blur(var(--sz));
  -webkit-backdrop-filter: blur(var(--sz));
  -moz-backdrop-filter: blur(var(--sz));
}

.rpm-0 {
  margin: 0;
  padding: 0;
  border-radius: 0;
  --P: 0px;
  --M: 0px;
}

.rpm-5 {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  --P: 5px;
  --M: 5px;
}

.rpm-10 {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  --P: 10px;
  --M: 10px;
}

.rpm-20 {
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  --P: 20px;
  --M: 20px;
}

.o-0 {
  opacity: 0;
}

.o-25 {
  opacity: 0.25;
}

.o-33 {
  opacity: 0.33;
}

.o-50 {
  opacity: 0.5;
}

.o-66 {
  opacity: 0.66;
}

.o-75 {
  opacity: 0.75;
}

.o-100 {
  opacity: 1;
}

.b0 {
  border: 0 !important;
  outline: none !important;
}

.p0 {
  padding: 0;
  --P: 0px;
}

.p2 {
  padding: 2px;
  --P: 2px;
}

.p5 {
  padding: 5px;
  --P: 5px;
}

.p10 {
  padding: 10px;
  --P: 10px;
}

.p20 {
  padding: 20px;
  --P: 20px;
}

.m0 {
  margin: 0;
  --M: 0px;
}

.m2 {
  margin: 2px;
  --M: 2px;
}

.m5 {
  margin: 5px;
  --M: 5px;
}

.m10 {
  margin: 10px;
  --M: 10px;
}

.m20 {
  margin: 20px;
  --M: 20px;
}

.mx-a {
  margin: 0 auto;
}

.rx0 {
  border-radius: 0px;
}

.rx2 {
  border-radius: 2px;
}

.rx5 {
  border-radius: 5px;
}

.rx10 {
  border-radius: 10px;
}

.rx20 {
  border-radius: 20px;
}

.rx2,
.rx5,
.rx10,
.rx20,
.rpm-0,
.rpm-5,
.rpm-10,
.rpm-20 {
  overflow: hidden;
}

.fw1 {
  font-weight: 100;
}

.fw2 {
  font-weight: 200;
}

.fw3 {
  font-weight: 300;
}

.fw4 {
  font-weight: 400;
}

.fw5 {
  font-weight: 500;
}

.fw6 {
  font-weight: 600;
}

.fw7 {
  font-weight: 700;
}

.tr {
  text-align: right;
}

.tc {
  text-align: center;
}

.tj {
  text-align: justify;
}

.tl {
  text-align: left;
}

.j-ct {
  justify-content: center;
}

.j-bw {
  justify-content: space-between;
}

.j-ar {
  justify-content: space-around;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.w-33 {
  width: 33.33%;
}

.w-25 {
  width: 25%;
}

.sw-100 {
  width: calc(100% - 2 * var(--M) - 2 * var(--P));
}

.sw-50 {
  width: calc(50% - 2 * var(--M) - 2 * var(--P));
}

.sw-33 {
  width: calc(33.33% - 2 * var(--M) - 2 * var(--P));
}

.sw-25 {
  width: calc(25% - 2 * var(--M) - 2 * var(--P));
}

.h-100 {
  height: 100%;
}

.h-50 {
  height: 50%;
}

.h-33 {
  height: 33.33%;
}

.h-25 {
  height: 25%;
}

.sh-100 {
  height: calc(100% - 2 * var(--M) - 2 * var(--P));
}

.sh-50 {
  height: calc(50% - 2 * var(--M) - 2 * var(--P));
}

.sh-33 {
  height: calc(33.33% - 2 * var(--M) - 2 * var(--P));
}

.sh-25 {
  height: calc(25% - 2 * var(--M) - 2 * var(--P));
}

.f {
  display: flex !important;
}

.f-col {
  display: flex !important;
  flex-direction: column;
}

.fw {
  display: flex !important;
  flex-wrap: wrap;
}

.p-abs {
  position: absolute !important;
}

.p-fix {
  position: fixed !important;
}

.p-rel {
  position: relative !important;
}

.d-n {
  display: none;
}

.d-ib {
  display: inline-block;
}

.d-if {
  display: inline-flex;
}

.d-i {
  display: inline;
}

.d-c {
  display: contents;
}

.d-b {
  display: block;
}

.d-u {
  display: unset;
}

.flow-x-s {
  overflow-x: scroll;
}

.flow-y-s {
  overflow-y: scroll;
}

.flow-x-h {
  overflow-x: hidden;
}

.flow-y-h {
  overflow-y: hidden;
}

.flow-h {
  overflow: hidden;
}

.ptr {
  cursor: pointer;
}

.al-ct {
  align-items: center;
}

.al-bl {
  align-items: baseline;
}

.g5 {
  gap: 5px;
}

.g10 {
  gap: 10px;
}

.g20 {
  gap: 20px;
}